/*

#cover-photo {

  width:auto;
  max-height:100vh;
  vertical-align: bottom;
  position: fixed;

}

*/

#list-style {

  list-style-type: none;

}

#block-button {

  display: block;

}

#title-text {

  margin-top: 25%;

}

#cover-photo-index {

    background: url("/../img/cover0.jpg");
    background-size: cover;                  
}

#cover-photo-time {

    background: url("/../img/cover1.jpg");
    background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center;

}

#cover-photo-reflection {

    background: url("/../img/cover2.jpg");
    background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center;

}

#cover-photo-about {

    background: url("/../img/cover3.jpg");
    background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center;

}


.cover-container {

  width: 100%; /* or whatever is required */
  text-align: center; /* ensures the image is always in the h-middle */
  overflow: hidden; /* hide the cropped portion */

}

.cover-image {

  position: relative; /* allows repositioning */
  left: 100%; /* move the whole width of the image to the right */
  margin-left: -200%; /* magic! */

}


.social-div {
  min-width: 10%;
  margin: auto;
}

.svg-link {

  display: inline-block;
  width: 20%;

}
