/*

#cover-photo {

  width:auto;
  max-height:100vh;
  vertical-align: bottom;
  position: fixed;

}

*/

#list-style {

  list-style-type: none;

}



#title-text {

  margin-top: 25%;

}

#cover-photo-index {

    background: url("/../img/cover0.jpg");
    background-size: cover;                  
}

#cover-photo-time {

    background: url("/../img/cover1.jpg");
    background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center;

}

#cover-photo-reflection {

    background: url("/../img/cover2.jpg");
    background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center;

}

#cover-photo-about {

    background: url("/../img/cover3.jpg");
    background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center;

}

.cover-wrapper {

  overflow: hidden;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
  z-index: -1;

}

.cover-image {

  max-height: 100vh;
  position: fixed;
  z-index: -1;

}

/* JAH VIBRATIONS ME SOCIAL MEDIA ICONS IMPLEMENTATION */

.social-div {

  width: 90%;
  margin: 0 auto; 

}

.svg-link {

  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  width: 20%;

}

.block-button {

  display: block;
  font-size: 0.85em;

}

/*DROP MENU STYLING REAL TALK*/

.dropbtn {
    width: 100%;
    background-color: white;
    font-size: 0.85em;

}

.dropdown {
   position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;

}

.dropdown:hover .dropdown-content {
    display: block;
}

/*BUT ALSO GEN'RAL BUTTON STYLING WAN LOVE*/

.block-button {

  display: block;
  font-size: 0.85em;

}
